<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://thymeleaf.org ">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Toeicute</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet"/>
</head>

<body>
<div style="font-family: Helvetica,Arial,sans-serif;min-width:700px;overflow:auto;line-height:2">
    <div style="margin:50px auto;width:600px;padding:20px 0">
        <div style="border-bottom:1px solid #eee">
            <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">TOEICUTE</a>
        </div>
        <p style="font-size:1.1em" th:text="|Hi, ${message}|"></p>
        <p>We received a request to verify your email address. <br/>Your verification code is:</p>
        <h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;"
            th:text="${otpCode}">
        </h2>
        <p style="font-size:0.9em;">
            This OTP is valid for 5 minutes.
            <br/>
            If you did not request this code, it is possible that someone else is trying to access your account.
            <br/><b>Do not forward or give this code to anyone.</b>
            <br/>
            <br/>
            Sincerely yours,
            <br/>
            Toeicute
        </p>
        <hr style="border:none;border-top:1px solid #eee"/>
        <div style="padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
            <p>This email can't receive replies.</p>
        </div>
        <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
            <p>Tiểu luận chuyên ngành</p>
            <p>GVHD: Mai Anh Thơ</p>
            <p>Tuyết - Hào</p>
        </div>
    </div>
</div>
</body>

</html>
